body {
	background: #222222;
	font-family: 'Droid Sans', sans-serif;
}

/*Top of the page, title and overall controls*/
div#titlewrap {
	width: 95%;
	float: left;
	margin: 0 auto;
	text-align: center;
}

/*Div containing main controls at top of page*/
#controlpanel {
	display: inline;
	width: 95%;
	text-align: right;
	float:left;
	margin-top: .2em
}

/*Loading Page*/
#loading_progress {
	text-align: center;
}
#loading_progress_label {
	display: inline;
}
.control {
	display: inline;
}


div#titlepanel {

	width: 65%;
	float: left;

}

div#branding_div {
	width: 25%;
	float: left;
}

/*Main Page*/

div#wrap {
	width:95%;
	margin:0 auto;
}

div#rightcolumn {
	width: 70%;
	float: left;
}

div#leftcolumn {
	width: 25%;
	float: left;
}

h1{
	font-size: medium;	
	display:block;
}	

.h1title {
	font-size: 18pt;
	text-align: center;
}

.h2title {
	background: #222222;
	border: #E18628 solid 1px;
	border-radius: 10px;
	padding: 0.5em;
	margin: 0.5em;    
	text-align: center;
	font-size: 12pt;
}

div.panel {
	    background: #3D3D3E;
	    color: #D6D6D6;
	    float:left;
	    border: #E18628 solid 2px;
	    border-radius: 10px;
	    padding: 0.5em;
	    margin: 0.5em;
	    width: 90%;	    
}

/*Pretty green buttons, i.e. PLOT*/
.fancybutton {
	background: #A8E2AD;
	font-size: 100%;
	border-radius: 5px;
	border-left: 0px solid #111111;
	border-bottom: 1px solid #111111;
	border-right: 1px solid #111111;
	border-top: 0px solid #111111;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	color: #111111;
	min-width: 5em;
}

label {
	padding: 0.5em;
}

input {
	width: auto;
}

.bounds {
	max-width: 5em;
}

input[type="text"]{
	padding: 1px;
}

/*Anchor/link colors*/
a, a:link, {
    color: #A8E4AD; /* aurora green */
    text-decoration: underline;
}
a:visited {
	color: #1A7126; /* dark aurora */
}
a:hover {
    background-color: #000;    /* Black */
}

#username {
	color: #EDD905;
}

#xvartext,#yvartext,#zvartext {
	color: #EDD905;
}
 
/*d3 chart*/
.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}


.branding{
	float: right;
	display: inline;	
	max-height: 3em;
}



/*Elements immediately surrounding plot*/

figure {
  margin: 0.5em;
  padding: 0.5em;
}


.plotcontrols {
	display: inline;
}

#plot_left_controls {
	position: relative;
	float: left;
	text-align: left;
	width: 45%;
}

#plot_right_controls {
	position: relative;
	float: right;
	text-align: right;
	width: 45%;
}

.plot_container{
	background: background: #3D3D7F;
	float: left; 
	width: 100%; 
}

.captionlist {
	font-size: 8pt;
}

ul.captionlist{
  width: 80%;
  margin-bottom:10px;
  overflow:hidden;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
}
li.captionlist{
  line-height:1.5em;
}

.button { 
 border: 4px outset;
 padding: 2px;
 text-decoration: none;
 }

img{
	max-width:100%;
	max-height:100%;
}
	
table{
	border-collapse: collapse;
	font-size: 12pt;
	color: #DDD;
}

td, th {
  border: 1px solid #999;
  padding: 0.01rem;
}

#agu_div {
	margin: 0 0;
	padding: .1em;
	display: none;
	border-radius: 5px;
	background-color: #E18628;
	text-align: center;
	color: #FFF;
}

#agu_div h1{
	padding: 0 0;
	margin: 0 0;
	font-size: larger;
}

/* Style specifically for Login Page */
#login_form_div {
	padding: 1em;
	border-radius: 5px;
	text-align: center;
	background-color: #604A53;
}

p.login {
	text-align: center;
}

#important_div {
	display: none;
	background-color: #A8E1AD;
	text-align: center;
	padding: .5em;
	border-radius: 5px;
	color: #3D3D7F;
}



label,input.login{
	display: inline;
}

/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #0FF;
  background-color: hsla(100, 40%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}